.header {
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 70px;
    padding: 10px;
}

h1 {
    text-align: center;
    margin-top: 0.5rem;
    margin-left: 0.3rem;
    font-weight: 500;
}
