<h3 mat-dialog-title>New Transport Plan</h3>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <input
        type="text"
        matInput
        formControlName="reference_no"
        placeholder="Reference No"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        type="text"
        matInput
        formControlName="plan_type"
        placeholder="Plan Type"
      />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Region </mat-label>
      <mat-select formControlName="region_id" placeholder="Region"> 
        <mat-option *ngFor="let item of locations$| async" [value]="item.id">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button type="submit" (click)="onSubmit()">Save</button>
</div>
